{% extends "::base.html.twig" %}

{% block body %}

<div class="container">
    <article>
    <header>
        <div class="row-fluid">
            <div class="span6">
            
                <h2> Section About Us </h2>

            </div>
            <div class="span6">
                
            </div>   
        </div>

    </header>
    <hr>
    <div class="content">
        <div class="row">
            <img src="http://fredods.com/wp-content/uploads/2012/08/github.png" class="img-rounded span6 offset4" alt="Section about us">
        </div>
        <blockquote>
        <p>
            Esprit open source, amoureux de symfony 2, venez nous aidez à améliorer le site en forkant le projet.
            Urbanetwork c'est un projet développé à l'IUT de Fontainebleau par des étudiants en deuxième années en DUT informatique.
        </p>
        </blockquote>
    </div>
</article>

</div>

{% endblock %}