{% extends "::base.html.twig" %}

{% block body %}

<div class="container">

    <article>
    <header>
        <div class="row-fluid">
            <div class="span6">
            
                <h2> Section suggestion </h2>

            </div>
            <div class="span6">
                
            </div>   
        </div>

    </header>
    <hr>
    <div class="content">
        <div class="row">
        </div>
        <blockquote>
        <p>
            Tout suggestion reste la bienvenus, même formulaire que contact. Mais plus adapter à une suggestion.
        </p>
        </blockquote>
    </div>
    </article>
</div>

{% endblock %}