{% extends "::base.html.twig" %}

{% block body %}

<p><center><h1>Mon CV</h1></center></p>

<h2>Ajouter une formation à mon Cv</h2>
<hr>


<div class="container">
    <form class="form-horizontal" action="{{ path("urbanet_cv_ajouter_formation", { id: id}) }}" method="post">
        {{ form_widget(form) }}

            <input class="btn btn-primary" type="submit" value="Ajouter">
            <input class="btn btn-danger" type="button" value="Effacer">

           <p><a href="{{ path('urbanet_cv_voir', { id : id}) }}">Retour</a></p>
    </form>
</div>

{% endblock %}