{% extends "::base.html.twig" %}

{% block body %}

<div class="container">
    <article>
    <header>
        <div class="row-fluid">
            <div class="span6">
            
                <h2> Section recherche </h2>

            </div>
            <div class="span6">
                
            </div>   
        </div>

    </header>
    <hr>
    <div class="content">
        <div class="row">
            <img src="http://www.grhaudit.com/Newsletter/images/persoLoupe.jpg" class="img-rounded span6 offset4" alt="Section recherche">
        </div>
        <blockquote>
        <p>
            Liste de résultats triables selon des critères affichant selon si l'on est connecté ou déconnecté le résultat correspondant : user annonce media etc...
        </p>
        </blockquote>
    </div>
</article>

</div>

{% endblock %}