{% extends "::base.html.twig" %}

{% block body %}

<div class="container">
    <article>
    <header>
        <div class="row-fluid">
            <div class="span6">
            
                <h2> Section découvir </h2>

            </div>
            <div class="span6">
                
            </div>   
        </div>

    </header>
    <hr>
    <div class="content">
        <div class="row">
            <img src="http://us.123rf.com/400wm/400/400/mariusz_prusaczyk/mariusz_prusaczyk1203/mariusz_prusaczyk120300452/12964573-3d-ranking-top-10-cube-text-on-white-background.jpg" class="img-rounded span6 offset4" alt="Section découvrir">
        </div>
        <blockquote>
        <p>
           Classement des meilleurs artistes ou annonceurs (les plus actifs par exemple) , propositions d’artistes ou d'annonceurs aléatoire.
        </p>
        </blockquote>
    </div>
</article>

</div>

{% endblock %}